.container {
  // position: fixed;
  // height: 100%;
  // width: 100vw;
  // overflow: hidden;
  // z-index: 1;
  //上面是之前鎖住的版本

  position: fixed;
  height: calc(100vh + 10px);
  width: 100vw;

  //上面是滑動的版本
  & .background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 62px);
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 530px) {
  .container {
    // height: calc(100vh + 1px);
    height: 100%;
    width: 100vw;
    & .video {
      width: 100%;
      height: 100%;
    }
    & .background {
      height: calc(100% - 100px);
    }
  }
}
