@import "styles/palette.scss";
.introPage {
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  // opacity: 0.5;
  position: fixed;
  top: 5vh;
  bottom: 12vh;
  margin: 0 18px;
  // height: 70vh;
  border-radius: 15px;
  backdrop-filter: blur(3px);
  box-shadow: 0px 8px 60px #ffffff;
  animation: scaleUp 0.8s;
  & .container {
    padding: 0 10px 10px 10px;
    margin: 60px 32px 32px 32px;
    height: calc(100% - 92px);
    overflow: auto;
    &::-webkit-scrollbar {
      width: 3px;
      -webkit-appearance: none;
    }
    // &::-webkit-scrollbar-track {
    // }
    &::-webkit-scrollbar-thumb {
      height: 200px;
      background-color: #2e8ab7;

      // outline: 1px solid slategrey;
    }
    & .title {
      text-align: center;
      margin-bottom: 20px;
      color: $font-color;
      font-size: 24px;
    }
    & .borderBottom {
      width: 40px;
      height: 2px;
      margin: auto;
      background-color: #2e8ab7;
      margin-bottom: 20px;
    }
    & .content {
      font-size: 16px;
      color: $font-color;
      position: relative;
    }
  }
  & .close {
    position: absolute;
    top: 20px;
    right: 30px;
    img {
      svg {
        fill: #2c413d;
        path {
          fill: #2c413d;
          background-color: #2c413d;
        }
      }
    }
  }
}
@media (min-width: 540px) {
  .introPage {
    left: 5%;
    right: 5%;
    margin: 0 auto;
    top: 80px;
    margin: 0 auto;
    max-width: 640px;

    & .container {
      & .content {
        font-size: 16px;
      }
    }
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
