@import "styles/palette.scss";

.entry {
  text-align: center;
  & .map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    & .tourGuideImage {
      width: 150px;
      height: 155px;
      position: absolute;
      bottom: 110px;
      right: 10px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    & .click {
      position: absolute;
      z-index: 10;
      right: 65px;
      bottom: 125px;
      border-radius: 50%;
      width: 51px;
      height: 51px;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      background-color: rgba(246, 192, 241, 0.6);
      border: 1px solid rgba(246, 192, 241, 1);
      animation: clickAnimation 3s ease-in-out infinite;
    }
    & .greeting {
      padding: 20px;
      width: 240px;
      background-color: #fff;
      color: rgba(44, 65, 61, 1);
      position: absolute;
      z-index: 10;
      right: 10px;
      bottom: 290px;
      border-radius: 30px;
      opacity: 0.9;
      word-wrap: wrap;
      font-size: 16px;
      font-weight: 400;
      line-height: 25.6px;
      border: none;
      // filter: drop-shadow(1px 1px 1px rgb(224, 224, 224));
      backdrop-filter: blur(3px);
      box-shadow: 0px 8px 60px #ffffff;
      & .triangle {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 25px solid #fff;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 60px;
        transform: translateY(100%);
      }
    }
    & img {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      z-index: 1;
    }
    & .tribe {
      position: absolute;
      bottom: 24px;
      z-index: 20;
      border: none;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      background-color: rgba(46, 138, 183, 1);
      // margin: auto;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 200px;
      height: 48px;
      border-radius: 30px;
    }
  }
  & .rec {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 260px;
    height: 232px;
    margin: auto;
  }
  & .title {
    margin: 40px 5% 24px 5%;
    font-size: 24px;
    color: $font-color;
  }
  & .description {
    margin: 0 auto;
    width: 280px;
    font-size: 16px;
    min-height: 60px;
    word-wrap: break-word;
    color: $font-color;
  }
  & .go {
    margin: 24px auto;
  }
  & .container {
    width: 260px;
    margin: 0 auto;
    // height: 960px;
  }
  & .changeLanguage {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: fixed;
    bottom: 24px;
    right: 18px;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.8;

    & img {
      width: 24px;
      height: 24px;
    }
  }
  & .language {
    position: absolute;
    bottom: 100%;
    right: 0;
    margin: auto;
    left: 0;

    & .chinese {
      color: $font-color;
      margin: 0 auto;
      border-radius: 50%;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      background-color: rgba($color: #fff, $alpha: 0.8);
      cursor: pointer;
      transform: translateY(100%);
      opacity: 0;
      transition: all 0.3s;
      position: relative;
      z-index: -1;
      pointer-events: none;
    }
    & .showChineseBtn {
      pointer-events: all;
      transform: translateY(0);
      opacity: 1;
      margin: 8px auto;
      z-index: 10;
    }
    & .english {
      pointer-events: none;
      color: $font-color;
      z-index: -1;
      position: relative;
      transition: all 0.3s;
      opacity: 0;
      transform: translateY(200%);
      cursor: pointer;
      margin: 0 auto;
      border-radius: 50%;
      line-height: 40px;
      width: 48px;
      height: 48px;
      background-color: rgba($color: #fff, $alpha: 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & .showEnglishBtn {
      pointer-events: all;
      margin: 8px auto;
      transform: translateY(0);
      opacity: 1;
      z-index: 10;
    }
    & .isSelector {
      color: #fff;
      background-color: #2e8ab7;
    }
  }
}

@media (min-width: 540px) {
  .entry {
    width: 500px;
    margin: 0 auto;
    & .map {
      & .tourGuideImage {
        width: 200px;
        height: 260px;
        position: absolute;
        bottom: 110px;
        right: 30px;
      }
      & .click {
        position: absolute;
        font-size: 18px;
        z-index: 10;
        right: 100px;
        bottom: 160px;
        border-radius: 50%;
        width: 66px;
        height: 66px;
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        background-color: rgba(246, 192, 241, 0.6);
        border: 1px solid rgba(246, 192, 241, 1);
      }
      & .greeting {
        padding: 20px;
        width: 300px;
        background-color: #fff;
        position: absolute;
        z-index: 10;
        right: 10px;
        bottom: 355px;
        border-radius: 30px;
        opacity: 0.8;
        word-wrap: wrap;
        font-size: 18px;
        & .triangle {
          right: 90px;
        }
      }
      & img {
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 1;
      }
      & .tribe {
        position: absolute;
        bottom: 24px;
        z-index: 20;
        border: none;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        background-color: rgba(46, 138, 183, 1);
        // margin: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 200px;
        height: 44px;
        border-radius: 30px;
      }
    }
    & .rec {
      width: 500px;
      height: 383px;
    }
    & .title {
      font-size: 32px;
      margin: 80px 0 60px 0;
    }
    & .description {
      width: 440px;
    }
    & .go {
      margin: 60px;
    }
    & .container {
      // height: 1600px;
      width: 500px;
    }
    & .changeLanguage {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      position: fixed;
      bottom: 30px;
      right: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      opacity: 0.8;

      & img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@keyframes clickAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
